<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Tony TI</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">TonyTI</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">Início</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Chamados")">Meus Chamados</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","Chamados")">Abrir Chamado</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Help","Home")">Ajuda</a></li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <hr />
        <p>Tony TI — Sistema de Chamados</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
